body {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.main {
    display: flex;
    flex-direction: column;
}

#sidebar {
    background-image: url(leafs.jpg);
    background-size: cover;
    width: 50rem;
    height: 100vh;
}